* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 60px;
	background-color: #21232A;
	color: #fff;
}

input {
	font-size: 1.3rem;
	color: #444;
	border-radius: 14px;
	border-color: #f00;
	padding: 3px 10px;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	align-content: center;
	text-align: center;
	border: 3px solid #f0f;
	border-radius: 15px;
	margin: 15px 10px;
	overflow: hidden;
	max-width: 300px;
}

.card h3 {
	font-size: 1.1rem;
	margin: 2px;
	padding: 6px;
}

.card img {
	width: 300px;
	height: 200px;
}
